<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>DueDate</mat-label>
    <input matInput formControlName="dueDate" required type="date" />
  </mat-form-field>

  <div class="buttons">
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      Submit
    </button>
  </div>
</form>