.task-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pending {
  background-color: #dcebc5;
  border-radius: 10px;
}

.expired {
  background-color: #f7cdcd;
  border-radius: 10px;
}
