.header {
  display: flex;
  justify-content: space-between;
  // width: 400px;
  width: 100vw;
  // justify-content: space-between;
  // margin-bottom: 10px;
  height: 80px;
}

.content {
  // margin-bottom: 30px;
}

.search-bar {
  margin-top: 20px;
}

